.news{
    height: 68px;
.notice-ico{
    position:  absolute;
    img{
        height: 54px;
        margin-top: 2px;
        margin-left: 4px;
        
    }
}
marquee{
    margin-left: 55px;
    height: 50px
}
}